@page
@model SoppSnackis.Pages.Groups.CreateModel

<h2>Skapa grupp</h2>
<form method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Skapa</button>
</form>